[user]
	email = 423821+quinnjr@users.noreply.github.com
	name = Joseph Quinn
[http "https://gopkg.in"]
	followRedirects = true
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/nvim
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[tag]
	forceSignAnnotated = true
[code]
	editor = /usr/bin/nvim
[pull]
	rebase = false
[safe]
	directory = /opt/flutter
