[user]
	email = 423821+quinnjr@users.noreply.github.com
	name = Joseph R. Quinn
[http "https://gopkg.in"]
	followRedirects = true
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/nvim
[credential]
	helper = store
[tag]
	forceSignAnnotated = true
[code]
	editor = /usr/bin/nvim
[pull]
	rebase = false
[safe]
	directory = /opt/flutter
[init]
	defaultBranch = main
